
<h5 class="card-title " *ngIf="houseinfo" style="text-align: center; margin-top: 10px;" >house</h5>
<div  class="container">
    <div    class="col mb-4">
        <div class="card">
          <div class="card-body col mb-4">
            <h5 class="card-title col mb-4">name : {{ houseinfo.name}}</h5>
            <p class="card-text col mb-4"*ngIf="houseinfo.region!=0" >region :  {{houseinfo.region}}</p>
            <p class="card-text col mb-4"*ngIf="houseinfo.coatOfArms!=0">coatOfArms :  {{houseinfo.coatOfArms}}</p>
            <p class="card-text col mb-4"*ngIf="houseinfo.words!=0">mediaType :  {{houseinfo.words}}</p>
            <p class="card-text col mb-4"*ngIf="houseinfo.seats!=0" >numberOfPages :  {{houseinfo.seats}}</p>
            <div class="card-text col mb-4"*ngIf="houseinfo.swornMembers!=0"> swornMembers :
              <span *ngFor= "let tag of houseinfo.swornMembers ; let first = first; let last=last;" > {{tag}}{{last? '': ' ,' }}  </span>    
              </div>
            <p class="card-text col mb-4"*ngIf="houseinfo.currentLord!=0">publisher :  {{houseinfo.currentLord}}</p>
            <p class="card-text col mb-4"*ngIf="houseinfo.heir!=0">released :  {{  houseinfo.heir }}</p>
            <p class="card-text col mb-4"*ngIf="houseinfo.overlord!=0">overlord :  {{  houseinfo.overlord }}</p>
            <button type="button" [routerLink]="['/home' ]" class="btn btn-outline-success">Back</button>
          </div>
        </div>
      </div>
</div>
